[submodule "Natch-io"]
	path = Natch-io
	url = https://github.com/denevell/Natch-io.git
[submodule "UserServiceGenerator"]
	path = UserServiceGenerator
	url = https://github.com/denevell/UserServiceGenerator
