<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>hello</display-name>
	
	<filter>
	   <filter-name>Auth Filter</filter-name>
	   <filter-class>
	    org.denevell.natch.auth.LoginHeadersFilter
	   </filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>Auth Filter</filter-name>
	  <url-pattern>/rest/login/is</url-pattern>
	  <url-pattern>/rest/logout</url-pattern>
	  <url-pattern>/rest/post</url-pattern>
	</filter-mapping>	
	
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
	    <init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
	    </init-param>		
	    <init-param>
	    	<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.denevell.natch.serv.testutils;org.denevell.natch.serv.posts;org.denevell.natch.serv.register;org.denevell.natch.serv.login;org.denevell.natch.serv.logout</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>
